# Dependencies
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
package-lock.json
pnpm-lock.yaml

# Testing
/coverage

# Production and build artifacts (common Turborepo output dirs)
build
dist

# Turborepo
.turbo

# TypeScript
*.tsbuildinfo
*.js.map
*.d.ts.map

# Misc
.DS_Store
*.pem
.vscode/
.idea/
*.log

# Debug
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.development.local
.env.production.local
.env.test.local
.env.*.local

# Astro
.astro/

# Tadpole
.tadpole
