main {
  new_page {
    goto "https://en.wikipedia.org/wiki/Lexical_analysis"
    $$ ".mw-heading" {
      for_each {
        hover scroll.delay="=0.1"
        sleep "=random() * 1000"
      }
    }
  }
}
