module hello {
  evaluator get_article_text {
    $ "#mp-tfa"
    text
  }

  browser_action open {
    new_page {
      goto "https://en.wikipedia.org"
      slot
    }
  }
  action extract_article {
    extract data {
      article {
        hello.get_article_text
      }
    }
  }
}