import "stealth.kdl"

module redfin {
  browser_action open {
    new_page {
      stealth.apply
      goto "https://redfin.com"
      slot
    }
  }
  action search {
    $ "#search-box-input" {
      type "=text"
    }
    $ "button[title='Search']" {
      click
    }
  }
  action extract_from_card {
    $$ ".MapHomecardWrapper" {
      extract "=extract_to" {
        slot
      }
    }
  }
  evaluator extract_address_from_card {
    $ ".bp-Homecard__Address"
    text
  }
}
