name: Lint

on:
  pull_request:
    paths:
    - apps/**
    - packages/**
    - .github/workflows/lint.yaml
  push:
    branches:
    - develop
    paths:
    - apps/**
    - packages/**
    - .github/workflows/lint.yaml

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup
      uses: ./.github/actions/setup

    - name: Run format check
      run: yarn format:check

    - name: Run linting
      run: yarn lint
