name: Publish

on:
  push:
    branches:
    - main
    paths:
    - apps/cli/**
    - packages/core/**
    - packages/schema/**
    - packages/utils/**
    - .changeset/**
    - .github/workflows/publish.yaml

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Setup
      uses: ./.github/actions/setup
    - name: Create Release Pull Request or Publish to npm
      id: changesets
      uses: changesets/action@v1
      with:
        publish: yarn release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
