name: Test

on:
  pull_request:
    paths:
    - apps/**
    - packages/**
    - .github/workflows/test.yaml
  push:
    branches:
    - develop
    paths:
    - apps/**
    - packages/**
    - .github/workflows/test.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup
      uses: ./.github/actions/setup

    - name: Run tests
      run: yarn test
